         <header class="header row g-0">
          <a href="#test">
            {{> logo}}
          </a>

          <nav class="header-nav col-9">
              <div class="header_nav_right">
                {{>nav list=header}}
              </div>
          </nav>
       </header>
      

{{#with hero}}
      <div class="hero">
        <div class="hero-content">
          <h1 class="hero-title">{{title}}</h1>
          <p class="hero-text">{{text}}</p>
        </div>
        <div class="hero-slider">
          <div class="hero-slider-icon hero-slider-left">-</div>
          <img src="{{photo}}" alt="Hero image" class="hero-img">
          <div class="hero-slider-icon hero-slider-right">+</div>
        </div>
      </div>
{{/with}}

 <input type="text" class="input">

<div class="modal">
  {{!-- <img src="{{hero.photo}}" alt="Hro image" class="modal-image"> --}}
  <div class="modal-text">{{hero.text}}</div>
</div>

      <main class="block">
      {{#each blog}}
        {{> cardBlock data=this}}
      {{/each}}  
      </main>
 
    {{#with form}}
      <div class="form">
          <div class="form-content">
            <h3 class="form-title">{{title}}</h3>
            <p class="form-info">{{info}}</p>
          </div>
          <div class="form-action">
            <a class="form-button" href="{{href}}">{{button}}</a>
          </div>
      </div>
    {{/with}}

        <footer class=" footer" id="test">
         <div class="col-3">
            {{> logo}}
            <span class="footer_copyright">Copyright 2023-2024</span>
          </div>
          {{#each footer}}
            <div class="col-3">
               <span class="footer_title">{{title}}</span>
                {{>nav list=links isVertical=true}}
            </div>
          {{/each}}
        </footer>
    
  
