{{#with data}}
  <div class='card'>
    <div
      class='card-img'
      style='background-img: url({{img}})'
    ></div>
    <h2 class='card-title'>{{title}}</h2>
    <p class='card-text'>{{text}}</p>
    <a class='card-button' href='{{href}}'>{{button}}</a>
  </div>
{{/with}}